asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
Django==3.2.3
docutils==0.17.1
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivy-garden.mapview==1.0.5
kivymd==0.104.1
mapview==1.0.5
Pillow==8.2.0
pygame==2.0.0
Pygments==2.9.0
pypiwin32==223
pytz==2021.1
pywin32==300
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.5
